.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px;
  list-style-type: none;
  margin: 40px 0px;
}

.list__item {
  transition: transform 0.3s;
  cursor: pointer;
  padding: 30px 0px;
  border-radius: var(--cornersRadius);
  background-color: var(--color-white);
  text-align: center;
  font-size: 30px;
}
.icon {
  font-size: 70px;
  color: black;
}
.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
}

.num {
  cursor: pointer;
  text-align: center;
  padding: 20px;
  background-color: var(--color-white);
  font-size: 20px;
  font-weight: bold;
  border-radius: var(--cornersRadius);
}
